[build]
  command = "echo \"window.MORNINGSTAR_CONFIG = { supabaseUrl: '$NEXT_PUBLIC_SUPABASE_URL', supabaseKey: '$NEXT_PUBLIC_SUPABASE_ANON_KEY' };\" > config.js"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
